
.banner-galery{
 background-image: url(../banner/amigorume);
  height: 50vh;
  
  background-repeat: no-repeat;
}

.banner-galerycontatos{
  background-image: url(../banner/contatos.png);
  height: 50vh;
  
  background-repeat: no-repeat;
}

.banner-saibamais{
  background-image: url(../banner/background.png);
  height: 50vh;
  
  background-repeat: no-repeat;
}

.banner-cuidados{
  background-image: url(../banner/cuidados.png);
  height: 50vh;
  
  background-repeat: no-repeat;
}

main{
  margin-block: 10%;
}


.carousel-wrapper{
  display: none;
}

.main-saiba{
  display: flex;
  justify-content: center;
}
.saiba-txt{
  
  width: 50%;
  padding: 2%;
  font-size: 1.5vw;
  text-indent: 20px;
  text-align: justify;
  
}

.boss{
  background-image: url(../img/Isa\ cópia.png);
  width: 20%;
  height: 50vh;
  background-size: cover;
  border-radius: 600px 600px 0px 0px ;
}

.saiba-txt p{
  margin-top: 10%;
}

.saiba-txt h1{
  font-size: 4vw;
  margin-top: 10%;
   margin-left: 20%;
   border-bottom: solid  1px;
   width: 60%;
}




.apresentacao h1{
  width: 100%;
 position: absolute;
 color: rgba(255, 255, 255, 0.945);
  margin-top: 12%;
  font-size: 4vw;
  text-align: center;
}

.gallery-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2vw;
  padding: 0 2vw;
 
}
.gallery-items{
  width: 340px;
  height: 340px;
  cursor: pointer;
  flex-grow: 1;
  transition: transform .3s linear;
  margin-block: 2%;
}
.gallery-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie{
  display: flex;
  justify-content: center;
  align-items: center;
}

 video {

 
  width: 30%;
  height: 50vh;
  object-fit: cover;
}



.gallery-items:hover{
  transform: scale(1.3);
}

span{
  font-size: 0.9vw;
  color: black;
  font-weight: bold;
  display: flex;
  padding-block: 5%;
  justify-content: center;
}


.main-contacts{
display: flex;
justify-content: center;
align-items: center;
}

.main-cuidados{
  
}
.cuidados-txt{
margin: 0 auto;
width: 65.5%;


}
.cuidados-txt h1{
  font-size: 3vw;
margin-left: 57%;
margin-bottom: 5%;

}

.cuidados-txt ul{
  background-color: #FFF8EE;
}
.cuidados-txt li{
  list-style: circle;
  font-size: 1vw;
  padding-block: 2%;
 margin-left: 5%;

}

.contac-ext{
 
  width: 65.5%;
display: flex;
justify-content: center;

gap: 20px;
}
#contac-int{
  
text-align: center;
  width: 100%;
  
  
}
#contac-int h1{
  
  margin-block: 5%;
  
}
#contac-int p{
  font-size: 0.9vw;
  margin-block: 5%;
  
}

#img-icons{
  
  display: flex;
  justify-content: center;
 

}